@charset 'utf-8';


@media screen and (max-width:1090px){
	
	.footer-assess{
		display:none;
	}


	/*footer-info  start*/
	.footer-info-content  .hot{
		float:none;
		margin-bottom:30px;
	}
	.footer-info-content  .time{
		float:none;
	}
	.footer-info-content .container{
		padding-top:10px;
	}
	.footer-info-content .friendship{
		line-height:26px;
		font-size:14px;
	}
	.footer-info-content .container-desc .desc{
		display:none;
	}
	.footer-info-content .container-desc .partner{
		width:100%;
	}
	.footer-info-content .container-desc .partner{
		width:100%;
		font-size:16px;
	}
	.footer-info-content .container-desc .partner .on{
		font-size:12px;
	}
	/*footer-info  end*/
}


@media screen and (max-width:845px){


	
}

@media screen and (max-width:500px){

	.footer-info-content .friendship {
		padding-right:120px;
	}
}